__pycache__/
*.py[cod]
**/.venv/
*.json
*.txt

VSCode/Python/Data_filter/FT_Data/Raw_Data/CS/articles/
VSCode/Python/Data_filter/FT_Data/Raw_Data/CS/books/
VSCode/Python/Data_filter/FT_Data/Raw_Data/nCS/fineweb_edu/
VSCode/Python/Data_filter/results/
VSCode/Python/Data_filter/logs/

VSCode/Python/AI_AtkDef/exp1/data/
VSCode/Python/AI_AtkDef/exp2/data/
