#1. 使用该命令删除本地git对某文件夹的索引：
#   (这样不会影响远程仓库的最后版本，但可以在本地对该文件夹随意操作，比如过大删除)
#   git rm -r --cached folder_to_ignore
#2. 并在该.gitignore文件中添加该文件夹
#3. 提交更改并推送到远程仓库
#f. 若想从远程仓库恢复该文件夹内容，请如下操作：
#   s1: 拉取最新仓库：git pull origin main  # 或者你使用的其他分支
#   s2: 恢复删除的文件夹到本地: git checkout HEAD folder_to_ignore
#   s3: 确保文件夹恢复到本地并正常显示: git add folder_to_ignore/
#   s4: 提交更改并推送到远程仓库


/PWN/
